  .avatar-search-user {
      width: 120px;
      height: 120px;
      margin: auto auto;
      padding: 0;
      margin-bottom: 15px;
  }

  .result-search {
      margin: 0;
      padding: 0;
  }

  .tbl-info-result-search td {
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 0;
      margin-bottom: 0;
  }

  .tbl-info-result-search {

      width: 100%;
  }
  .avatar-pic-gr
  {
    width: 130px;
    height: 130px;
    margin: auto auto;
    padding: 0;
    margin-bottom: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .username-receiver
  {
    font-size: 18px;
    margin-left: 10px;
  }
  .fullname-receiver
  {
    display: block;
    margin-left: 20px;
    font-size: 10px;
  }
  .contact.create-new:hover
  {
    cursor: pointer;
    background-color: rgb(206, 206, 206);
    border-bottom: 1px solid grey;
  }
  .contact.create-new:active
  {
    border-radius: 5px;
  }
  .contact.create-new
  {
    border-radius: 5px;
  }

  #ModalNewChat, #ModalNewGroupChat {
    height: 100%;
  }
  
  .ModalNewChat-people {
    height: 300px;
    overflow-y: scroll;
  }
  
  .ModalNewGroupChat-people {
    height: 200px;
    overflow-y: scroll;
    z-index: -1;
  }
  