/*------------------  Main ------------------*/

.content {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding-bottom: 20px;
  /* background-color: rgb(24, 25, 26); */
}

.img-welcome{
  width: 300px;
  height: 300px;
  margin: auto auto;
  background-image: url("https://icons.iconarchive.com/icons/inipagi/job-seeker/256/conversation-icon.png");
  background-repeat: no-repeat;
  background-position: center;
}
.alt-empty-right-bar{
  width: 300px;
  height: 300px;
  margin: auto auto;
  background-image: url("https://image.freepik.com/free-vector/your-smartphone-friend-have-message-you-flat-illustration-icon-cartoon-phone-character-isolated-white-message-letter-send-mobile-phone_92289-502.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.alt-empty-right-bar-text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  text-align: center;
  color: #1a237e;
}